data/record/log.dtd

<!-- Generated by Relaxer 0.16 -->
<!-- Thu Dec 28 01:51:00 JST 2006 -->

<!ELEMENT stone1 (#PCDATA)>

<!ELEMENT strategy_name (#PCDATA)>

<!ELEMENT hand_list (hand+)>
<!ATTLIST hand_list number CDATA #REQUIRED>

<!ELEMENT time (#PCDATA)>

<!ELEMENT putx (#PCDATA)>

<!ELEMENT result_list (result+)>

<!ELEMENT result_part (total, result_list, analyze)>

<!ELEMENT strategy (strategy_id, strategy_name, author)>
<!ATTLIST strategy number CDATA #REQUIRED>

<!ELEMENT date (#PCDATA)>

<!ELEMENT draw (#PCDATA)>

<!ELEMENT puty (#PCDATA)>

<!ELEMENT id (#PCDATA)>

<!ELEMENT stone2 (#PCDATA)>

<!ELEMENT process_part (hand_list+)>

<!ELEMENT total (win1, win2, draw)>

<!ELEMENT system_info (version)>

<!ELEMENT boardsize (#PCDATA)>

<!ELEMENT hand (count, teban, put, time, effect_list, link)>

<!ELEMENT effect (#PCDATA)>

<!ELEMENT analyze (#PCDATA)>

<!ELEMENT winner (#PCDATA)>

<!ELEMENT teban (#PCDATA)>

<!ELEMENT effect_list (effect*)>

<!ELEMENT manage_part (battle_info, game_info, strategy_list, system_info)>

<!ELEMENT win1 (#PCDATA)>

<!ELEMENT cell (#PCDATA)>

<!ELEMENT put (putx, puty)>

<!ELEMENT first (#PCDATA)>

<!ELEMENT win2 (#PCDATA)>

<!ELEMENT link (#PCDATA)>

<!ELEMENT battle_info (id, date)>

<!ELEMENT board (cell_list*)>

<!ELEMENT gogolog (manage_part, result_part, process_part)>

<!ELEMENT strategy_list (strategy*)>

<!ELEMENT cell_list (cell*)>

<!ELEMENT version (#PCDATA)>

<!ELEMENT reason (#PCDATA)>

<!ELEMENT strategy_id (#PCDATA)>

<!ELEMENT result (first, count, stone1, stone2, winner, reason)>
<!ATTLIST result number CDATA #REQUIRED>

<!ELEMENT count (#PCDATA)>

<!ELEMENT game_info (boardsize, board?, stone1?, stone2?)>

<!ELEMENT author (#PCDATA)>
